* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Amaranth', sans-serif;
}

.page-body {
    background: url(../images/fondo3.png), no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.page-personaje-body {
    background: url(../images/fondo3.jpg), no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.page-navigation {
    height: 8.8%;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
}

.height-logo {
    height: 100%;
}

.page-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personajes-title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    color: #FFFFFF;
    width: 100%;
    font-size: 20px;
}

.img-personajes {
    height: 260px;
    padding: 6px;
    margin-top: 22px;
    border-radius: 10px;
}

.card-page-personaje {
    margin-top: 41px;
    max-width: 84rem;
}

@media screen and (max-width: 700px) {
    .table-responsive-personaje {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
}
